{sys, [
       {lib_dirs, ['../deps', '../..']},
       {rel, "couchjuke", "0.0.1",
        [
         kernel,
         stdlib,
	 sasl,
	 couchbeam,
	 couchjuke
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         inets,
         stdlib
        ]},
       {boot_rel, "couchjuke"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, couchjuke, [{incl_cond, include}]}
      ]}.

{target_dir, "couchjuke"}.

{overlay, [{mkdir, "log/sasl"}]}.

%% == LFE Compiler ==

%% LFE files to compile before the rest
{lfe_first_files, []}.

%% Options for the LFE compiler
{lfe_opts, []}.

%% == ErlyDTL Compiler ==

%% Options for the ErlyDTL compiler
{erlydtl_opts, []}.

%% == EUnit ==

%% Options for eunit:test()
{eunit_opts, []}.

%% Additional compile options for eunit. erl_opts from above is also used
{eunit_compile_opts, []}.

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, false}.

%% == Dialyzer ==

%% Options for running the dialyzer, right now only `plt' is supported
{dialyzer_opts, []}.
